#messageHistoryContainer {
  margin-top: 10px;
}

    #messageHistoryCardContainer {
      margin: 0 auto;
      width: '99.85%';
      height: '360px';
    }

        #cardHeader {
          margin: 0 auto;
        }

        #inboxContainer {
          width: 48.9%;
          height: 250px;
          max-height: 250px;
          border: 1px solid black;
          text-align: center;
          display: inline-block;
        }

            #inboxContainer>Table {
              border-top: 1px solid black;
              height: 195px;
              max-height: 195px;
              display: block;
              overflow: scroll;
            }

                .inboxTdWidth {
                  min-width: 13.5em;
                }

        #outboxContainer {
          width: 48.9%;
          height: 250px;
          max-height: 250px;
          border: 1px solid black;
          text-align: center;
          float: right;
        }

            #outboxContainer>Table {
              border-top: 1px solid black;
              height: 195px;
              max-height: 195px;
              display: block;
              overflow: scroll;
            }

                .outboxTdWidth {
                  min-width: 9em;
                }

