#receiveContainer {

}

    @media screen and (max-width: 1314px) {
      #receiveContainer {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    #receiveCardContainer {
      min-height: 407px;
    }
