#sendContainer {

}

    @media screen and (max-width: 876px) {
      #sendContainer {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    #sendCardContainer {
      min-height: 407px;
    }
