#userDataContainer {

}

    @media screen and (max-width: 876px) {
      #userDataContainer {
        margin-left: auto;
        margin-right: auto;
      }
    }

    #userDataCardContainer {
      min-height: 407px;
    }

        #allProfilesContainer {
          text-align: center;
          background-color: lavender;
          height: 120px;
          max-height: 120px;
          overflow: scroll;
        }

        #passPhraseContainer {
          text-align: center;
        }

            #passPhraseContainer>Button, #passPhraseContainer>p>Button:hover {
              background-color: white;
            }
