#userDataContainer {
  display: inline-block;
}

    #userDataCardContainer {
      min-height: 407px;
    }

        #allProfilesContainer {
          text-align: center;
          background-color: lavender;
          height: 120px;
          max-height: 120px;
          overflow: scroll;
        }

        #passPhraseContainer {
          text-align: center;
        }

            #passPhraseContainer>Button, #passPhraseContainer>p>Button:hover {
              background-color: white;
            }
